div.weekly-grid {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  column-gap: 5em;
  width: 100%
}

div.forecast-flex {
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  border: 1px gray solid;
  padding: 0 1.5em;
}